
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid #fff;
}
nav a:hover {
  color: #c22c2c;
}

.content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  z-index: 999;
}


main {
  padding: 20px;
}

.bloc-intro {
  background-color: #4c321dbf;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}


.bloc-bleu {
  background-color: #34495e;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.bloc-marron {
  background-color: #70635b;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.eblv-box {
  background-color: #165c6d;
  color: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.map-eblv {
  background-image: url(https://s3.amazonaws.com/files.d20.io/images/332029713/9lHVf0k5nEH9WjS9d5izTQ/max.jpg?1678547524);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.map-kingdom {
  background-image: url(https://s3.amazonaws.com/files.d20.io/images/331105954/16O2mG2z32P7gvcqpNzl3w/max.jpg?1678021302);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.map-darkdawn {
  background-image: url(https://cdn.discordapp.com/attachments/849590159762522152/982016751971754074/ETRG1NLgUTKxgqY1tTUdrp.jpg?ex=658dd95e&is=657b645e&hm=39fa2f769536a157adee8c40a83453626610d27c31ea3ab75dd34c69d181dafe&);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size:contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.index {
  background-image: url(https://assets-prd.ignimgs.com/2022/08/18/evynfong2-1660838071036.jpg?crop=16%3A9&width=888);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size: cover;
  background-position: bottom -110px left;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body.darkdawn {
  background-image: url(https://s3.amazonaws.com/files.d20.io/images/228578618/aLtoIiaH9dxg8sihwWaUWg/max.jpg?1623703363044);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


body.eblv {
  background-image: url(https://s3.amazonaws.com/files.d20.io/images/324585277/6Uz_URYx_N87zk6GFgfJ1Q/max.jpg?1674647888073);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.kingdom {
  background-image:url(https://spikeybits.com/wp-content/uploads/2018/01/Tropical-castle-ruins.jpg);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  background-size:cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}